div.explainer {
    position: absolute;
    top: 140px;
    padding: 0.5em;
    font-size: 1.5em;

    background-color: #ccc;
    opacity: 0.85;
    border-radius: 4px;
    box-shadow: 1px 1px 50px 0 rgba(0, 0, 0, 0.8);
}
